<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('新建模板')"/>
</head>
<body class="pear-container">
<div class="layui-row layui-col-space10">
    <div class="layui-col-md3">
        <div class="layui-card">
            <div class="layui-card-body" style="border-radius: 1px;">
                <div class="layui-card nav click-but">
                    <div class="panel-box">
                        <div class="layui-card-header layui-card-header-opt" >分类</div>
                        <div class="layui-card-body layui-card-body-opt" style="height: 80px;padding: 5px 5px;" >
                            <div class="layui-form" id="classify">
                                <input type="checkbox" name="hobby" id=="yd" value="yd" title="移动" lay-skin="primary" lay-filter="optionFilter">
                                <input type="checkbox" name="hobby" id="kd" value="kd" title="宽带" lay-skin="primary" lay-filter="optionFilter">
                                <input type="checkbox" name="hobby" id="itv" value="itv" title="ITV" lay-skin="primary" lay-filter="optionFilter">
                                <input type="checkbox" name="hobby" id="zj" value="zj" title="智家" lay-skin="primary" lay-filter="optionFilter">
                            </div>
                        </div>
                    </div>
                    <div class="panel-box">
                        <div class="layui-card-header layui-card-header-opt">指标</div>
                        <div class="layui-card-body layui-card-body-opt" id="quota"></div>
                    </div>
                    <div class="panel-box">
                        <div class="layui-card-header layui-card-header-opt">维度</div>
                        <div class="layui-card-body layui-card-body-opt"id="dimension"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-col-md9">
        <div class="layui-card">
            <div class="layui-card-body">
                <table class="query-table">
                    <tr class="query-tr">
                        <td class="query-report-label">模板名称：</td>
                        <td class="query-param"> <input id="templateName" name="templateName" type="text"  lay-verify="required" placeholder="请输入模板名称" autocomplete="off" class="layui-input"></td>
                        <td class="query-report-label">客户：</td>
                        <td class="query-param">
                            <div class="layui-form" style="margin-bottom: 10px;" id="user">
                                <input type="checkbox" id="zhengqi" name="custType" value="zhengqi" title="政企">
                                <input type="checkbox" id="gongzhong" name="custType" value="gongzhong" title="公众">
                            </div>
                        </td>
                        <td class="query-report-label">数据周期：</td>
                        <td class="query-param">
                            <div class="layui-form" style="margin-bottom: 10px;">
                                <input type="radio" id="day" name="dateType" value="day" title="日" checked>
                                <input type="radio" id="month" name="dateType" value="month" title="月">
                            </div>
                        </td>
                    </tr>
                </table>
                <table class="query-table">
                    <tr class="query-tr">
                        <td class="query-label">指标：</td>
                        <td class="query-report"><div id="col-zone" class="selected-zone"></div></td>
                    </tr>
                    <tr class="query-tr">
                        <td class="query-label">维度：</td>
                        <td class="query-report"><div id="row-zone" class="selected-zone"></div></td>
                    </tr>
                    <tr class="query-tr">
                        <td class="query-label" >条件：</td>
                        <td class="query-param-codition">
                            <div class="layui-card-body layui-card-body-opt" style="height: 80px;" >
                                <div class="layui-form" id="condition">
                                    <input type="checkbox" id="is_qf" name="custType" value="zhengqi" title="是否欠费" lay-skin="primary" lay-filter="optionFilter">
                                    <input type="checkbox" id="is_hy" name="custType" value="gongzhong" title="是否有合约" lay-skin="primary" lay-filter="optionFilter">
                                    <input type="checkbox" id="is_5g" name="custType" value="zhengqi" title="是否5G" lay-skin="primary" lay-filter="optionFilter">
                                    <input type="checkbox" id="is_5gb" name="custType" value="zhengqi" title="是否5G包" lay-skin="primary" lay-filter="optionFilter">
                                    <input type="checkbox" id="is_5gtc" name="custType" value="zhengqi" title="是否5G套餐" lay-skin="primary" lay-filter="optionFilter">
                                    <input type="checkbox" id="is_qzxsp" name="custType" value="zhengqi" title="是否千兆销售品" lay-skin="primary" lay-filter="optionFilter">
                                    <input type="checkbox" id="is_qzsl" name="custType" value="zhengqi" title="是否千兆速率" lay-skin="primary" lay-filter="optionFilter">
                                    <!--                                <input type="checkbox" id="" name="custType" value="zhengqi" title="是否收费">-->
                                    <input type="checkbox" id="is_sfllb" name="custType" value="zhengqi" title="是否收费流量包" lay-skin="primary" lay-filter="optionFilter">
                                    <input type="checkbox" id="is_qzxq" name="custType" value="zhengqi" title="是否千兆小区" lay-skin="primary" lay-filter="optionFilter">
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>


                <div class="layui-form-item" style="margin-bottom: 0px;">
                    <label class="layui-form-label">开始日期：</label>
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" id="startDate" name="startDate">
                    </div>
                    <label class="layui-form-label">结束日期：</label>
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" id="endDate" name="endDate">
                    </div>

                    <button class="pear-btn pear-btn-md pear-btn-primary" lay-filter="report-search" lay-submit="" type="submit">
                        <i class="layui-icon layui-icon-search"></i>
                        查询报表
                    </button>
                    <button class="pear-btn pear-btn-md pear-btn-primary" lay-filter="report-reset" lay-submit="" type="submit">
                        <i class="layui-icon layui-icon-refresh"></i>
                        重置
                    </button>
                    <button class="pear-btn pear-btn-md pear-btn-primary" lay-filter="template-save" lay-submit="" type="submit">
                        <i class="layui-icon layui-icon-add-circle"></i>
                        保存模板
                    </button>
                    <!--<button class="pear-btn pear-btn-md pear-btn-primary" lay-filter="report-export" lay-submit="" type="submit">
                        <i class="layui-icon layui-icon-export"></i>
                        导出报表
                    </button>-->
                </div>
            </div>
        </div>
        <div class="layui-card">
            <div id="card-body-div" class="layui-card-body" style="background-color: #FFFFFF;">
                <table id="report-table" lay-filter="report-table"></table>
            </div>
        </div>
    </div>
</div>

</body>

<th:block th:include="include :: footer"/>
<script>
    layui.use(['tree', 'layer','form','laydate','table','popup'], function(){
        var tree = layui.tree;
        var layer = layui.layer;
        var form = layui.form;
        var laydate = layui.laydate;
        let table = layui.table;
        let popup = layui.popup;
        form.render('radio');
        form.render('checkbox');
        var $ = layui.$;
        var quota = false;
        var col = false;
        var row = false;
        var templateId;

        var zhengqi = document.getElementById('zhengqi');
        var gongzhong = document.getElementById('gongzhong');
        var day = document.getElementById('day');
        var month = document.getElementById('month');

        var is_qf = document.getElementById('is_qf');
        var is_hy = document.getElementById('is_hy');
        var is_5g = document.getElementById('is_5g');
        var is_5gb = document.getElementById('is_5gb');
        var is_5gtc = document.getElementById('is_5gtc');
        var is_qzxsp = document.getElementById('is_qzxsp');
        var is_qzsl = document.getElementById('is_qzsl');
        var is_sfllb = document.getElementById('is_sfllb');
        var is_qzxq = document.getElementById('is_qzxq');

        let MODULE_PATH = "/autoData/report/";

        /**
         * 指标文本框
         */
        var colZone = document.getElementById('col-zone');
        var colHeaders = [];
        var colHeadersArr = [];

        /**
         * 维度文本框
         */
        var rowZone = document.getElementById('row-zone');
        var rowHeaders = [];
        var rowHeadersArr = [];

        colZone.addEventListener('click', function() {
            col = true;
            row = false;
            this.classList.toggle('active');
        });
        rowZone.addEventListener('click', function() {
            col = false;
            row = true;
            this.classList.toggle('active');
        });
        // 点击其他地方取消激活状态
        document.addEventListener('click', function(e) {
            if (!colZone.contains(e.target)) {
                colZone.classList.remove('active');
                // col = false;
            }
            if (!rowZone.contains(e.target)) {
                rowZone.classList.remove('active');
                // row = false;
            }
        });

        /**
         * 分类复选框事件
         */
        var quotaData = new Array();
        form.on('checkbox(optionFilter)', function(data){
            if(data.elem.checked) {
                if(data.value == 'yd'){
                    quotaData.push(getClassify("yd"));
                }else if(data.value == 'kd'){
                    quotaData.push(getClassify("kd"));
                }else if(data.value == 'itv'){
                    quotaData.push(getClassify("itv"));
                }else if(data.value == 'zj'){
                    quotaData.push(getClassify("zj"));
                }
            } else {
                if(data.value == 'yd'){
                    removeOption(quotaData,data.value);
                }else if(data.value == 'kd'){
                    removeOption(quotaData,data.value);
                }else if(data.value == 'itv'){
                    removeOption(quotaData,data.value);
                }else if(data.value == 'zj'){
                    removeOption(quotaData,data.value);
                }
            }

            var lastClickTime = 0;
            var timeoutDuration = 300; // 双击间隔时间阈值，单位毫秒
            //指标树
            var optionInst = tree.render({
                elem: '#quota',
                data: quotaData,
                id: 'quotaTree',  // 定义索引
                showCheckbox: false,  // 是否显示复选框
                isJump: true,  // 是否允许点击节点时弹出新窗口跳转
                onlyIconControl: true,  // 仅允许通过图标展开
                click: function(obj){
                    var currentTime = new Date().getTime();
                    if (currentTime - lastClickTime < timeoutDuration) {
                        // 在这里处理双击事件
                        addToReportQuota(obj.data);
                    } else {
                        lastClickTime = currentTime; // 更新点击时间，以便下一次点击时检查是否为双击
                    }

                }
            });
        });

        laydate.render({
            elem: '#startDate'
        });

        laydate.render({
            elem: '#endDate'
        });

        var lastClickTime = 0;
        var timeoutDuration = 300; // 双击间隔时间阈值，单位毫秒
        // 加载维度树数据
        var dimensionInst = tree.render({
            elem: '#dimension',
            data: getDimensionData(),
            id: 'dimensionTree',  // 定义索引
            onlyIconControl: true,   // 仅允许通过图标展开
            // showCheckbox: true,  // 是否显示复选框
            isJump: true,  // 是否允许点击节点时弹出新窗口跳转
            // oncheck: function(obj){
            //     console.log(obj.data); // 得到当前点击的节点数据
            //     console.log(obj.checked); // 得到当前节点的选中状态
            //     console.log(obj.elem); // 得到当前节点元素
            //
            //     // 可以在这里处理节点选中/取消选中的逻辑
            //     // layer.msg('您'+ (obj.checked ? '选中' : '取消') +'了节点: ' + obj.data.title);
            // },
            click: function(obj){

                var currentTime = new Date().getTime();
                if (currentTime - lastClickTime < timeoutDuration) {

                    //2025-11-20
                    var clickDimension = new Object();
                    clickDimension.columnName = obj.data.columnName;
                    clickDimension.id = obj.data.id;
                    clickDimension.title = obj.data.title;

                    // 如果是双击事件
                    //addToReportDimension(obj.data);
                    addToReportDimension(clickDimension);
                } else {
                    lastClickTime = currentTime; // 更新点击时间，以便下一次点击时检查是否为双击
                }

            }
        });


        /**
         * 获取指标下拉树数据
         * @param type
         * @returns {{title: string, id: string, children: [{title: string, id: string, children: *[]}]}}
         */
        function getClassify(type){
            var yd = {
                title: '移动',
                id: 'yd',
                // spread: true, // 默认展开
                children: [
                    {
                        title: '未拆机的移动产品数',
                        id: 'ydcp',
                        children: [
                        ]
                    }
                ]
            };
            var kd = {
                title: '宽带',
                id: 'kd',
                children: [
                    {
                        title: '未拆机的宽带产品数',
                        id: 'kdcp',
                        children: [
                        ]
                    }
                ]
            };
            var itv = {
                title: 'ITV',
                id: 'itv',
                children: [
                    {
                        title: 'ITV产品数',
                        id: 'itvcp',
                        children: [
                        ]
                    }
                ]
            };
            var zj = {
                title: '智家',
                id: 'zj',
                children: [
                    {
                        title: '智家产品数',
                        id: 'zjcp',
                        children: [
                        ]
                    }
                ]
            };
            if(type == "yd"){
                return yd;
            }else if(type == "kd"){
                return kd;
            }else if(type == "itv"){
                return itv;
            }else if(type == "zj"){
                return zj;
            }
        }

        /**
         * 删除指标下拉树数据
         * @param optionData
         * @param type
         */
        function removeOption(optionData,type){
            optionData.forEach((item, index, array) => {
                console.log(`索引 ${index}: 值 ${item}`);
                if(type == item.id){
                    optionData.splice(index,1);
                }
            });
        }

        /**
         * 添加指标树数据到指标文件框
         * @param data
         */
        function addToReportQuota(data){
            data.field = data.id;
            col = true;
            const index = colHeaders.indexOf(data.id);
            if (index !== -1) {
                layer.msg("已存在，请重新选择", {icon:5});
                return ;
            }else{
                colHeaders.push(data.id);
                colHeadersArr.push(data);
            }

            // 创建表头项
            const headerItem = document.createElement('div');
            headerItem.className = 'selected-header-item';
            headerItem.setAttribute('data-field', data.id);
            //headerItem.id = data.title;
            headerItem.id = data.id;

            headerItem.innerHTML = '<span>'+data.title+'</span><span class="remove-btn">&times;</span>';

            // 添加删除按钮事件
            headerItem.querySelector('.remove-btn').addEventListener('click', function(event) {
                //const parentId = parseInt(event.target.parentElement.id);
                const parentId = event.target.parentElement.id;
                var removeHead = document.getElementById(parentId);
                const index = colHeaders.indexOf(parentId);
                if (index !== -1) {
                    colHeaders.splice(index, 1);
                    colHeadersArr.splice(index, 1);
                    colZone.removeChild(removeHead);
                }
            });

            colZone.appendChild(headerItem);
        }

        /**
         * 维度树节点点击事件
         * @param data
         */
        function addToReportDimension(data){
            var id = data.id;
            var title = data.title;
            row = true;
            const index = rowHeaders.indexOf(id);
            if (index !== -1) {
                layer.msg("已存在，请重新选择", {icon:5});
                return ;
            }else{
                rowHeaders.push(id);
                rowHeadersArr.push(data);
            }

            // 创建表头项
            const headerItem = document.createElement('div');
            headerItem.className = 'selected-header-item';
            headerItem.setAttribute('data-field', id);
            headerItem.id = id;

            headerItem.innerHTML = '<span>'+title+'</span><span class="remove-btn">&times;</span>';

            // 添加删除按钮事件
            headerItem.querySelector('.remove-btn').addEventListener('click', function(event) {
                // const parentId = parseInt(event.target.parentElement.id);
                const parentId = event.target.parentElement.id;
                var removeHead = document.getElementById(parentId);
                const index = rowHeaders.indexOf(parentId);
                if (index !== -1) {
                    rowHeaders.splice(index, 1);
                    rowHeadersArr.splice(index, 1);
                    rowZone.removeChild(removeHead);
                }
            });

            rowZone.appendChild(headerItem);
        }

        /**
         * 查询报表
         */
        form.on('submit(report-search)', function (data) {
            var templateName = document.getElementById("templateName");
            const dateType = document.querySelector('input[name="dateType"]:checked')?.value;
            console.log(dateType || '没有选中任何项');
            if(colHeaders == "" || colHeaders === null){
                layer.alert("请至少选择一项作为指标！");
                return;
            }

            var newHeadersArr = new Array();

            var firstLevel = "";
            if(rowHeadersArr.length > 0){
                for(var i=0;i<rowHeadersArr.length;i++){
                    var rowHead = rowHeadersArr[i];
                    var col = new Object();
                    col.id = rowHead.id
                    if(i == 0){
                        firstLevel = rowHead.level;
                    } else {
                        if(firstLevel != rowHead.level){
                            layer.alert("请选择同一层级维度！");
                            return;
                        }
                    }
                    if(rowHead.level == "1"){
                        col.title = "地州";
                        col.field = "hxLatnName";
                    } else if(rowHead.level == "2"){
                        col.title = "分局";
                        col.field = "hxAreaName";
                    } else if(rowHead.level == "3"){
                        col.title = "支局";
                        col.field = "hxRegionName";
                    } else if(rowHead.level == "4"){
                        col.title = "网格";
                        col.field = "xHx5BpName";
                    }
                    // const isIncluded = newHeadersArr.some(item =>
                    //     JSON.stringify(item) === JSON.stringify(col)
                    // );
                    var isExist = false;
                    for(var j=0; j<newHeadersArr.length;j++){
                        var newHead = newHeadersArr[j];
                        if(col.field == newHead.field){
                            isExist = true;
                            break;
                        }
                    }
                    if(!isExist){
                        newHeadersArr.push(col);
                    }
                }
            }

            for(var i=0;i<colHeadersArr.length;i++){
                var colHeadItem = colHeadersArr[i];
                var data = new Object();
                data.id = colHeadItem.id;
                data.title = colHeadItem.title;
                data.field = colHeadItem.id;
                newHeadersArr.push(data);
            }

            let cols = new Array();
            cols.push(newHeadersArr);

            // let dimension = new Array();
            // dimension.push(rowHeadersArr);
            // var param = new Object();
            // if(rowHeadersArr.length > 0){
            //     for(){
            //
            //     }
            // }

            var custZQ = zhengqi.checked ? '1' : '0';
            var custGZ = gongzhong.checked ? '1' : '0';
            var isQf = is_qf.checked ? '1' : '0';
            var isHy = is_hy.checked ? '1' : '0';
            var is5G = is_5g.checked ? '1' : '0';
            var is5Gb = is_5gb.checked ? '1' : '0';
            var is5Gtc = is_5gtc.checked ? '1' : '0';
            var isQzxsp = is_qzxsp.checked ? '1' : '0';
            var isQzsl = is_qzsl.checked ? '1' : '0';
            var isSfllb = is_sfllb.checked ? '1' : '0';
            var isQzxq = is_qzxq.checked ? '1' : '0';

            var param = new Object();
            param.isQf = isQf;
            param.isHy = isHy;
            param.isFiveg = is5G;
            param.isFivegb = is5Gb;
            param.isFivegtc = is5Gtc;
            param.isQzxsp = isQzxsp;
            param.isQzsl = isQzsl;
            param.isSfllb = isSfllb;
            param.isQzxq = isQzxq;


            table.render({
                elem: '#report-table',
                url: MODULE_PATH + 'reportList',
                where: {
                    quota:JSON.stringify(newHeadersArr),
                    dimension: JSON.stringify(rowHeadersArr),
                    isQf:isQf,
                    isHy:isHy,
                    isFiveg:is5G,
                    isFivegb:is5Gb,
                    isFivegtc:is5Gtc,
                    isQzxsp:isQzxsp,
                    isQzsl:isQzsl,
                    isSfllb:isSfllb,
                    isQzxq:isQzxq
                },
                page: true,
                cols: cols,
                skin: 'line'
            });
        });

        /**
         * 重置事件
         */
        form.on('submit(report-reset)', function (data) {
            document.getElementById('templateName').value = '';
            colZone.replaceChildren();
            colHeaders.splice(0,colHeaders.length);
            rowZone.replaceChildren();
            rowHeaders.splice(0,rowHeaders.length);
            rowHeadersArr.splice(0,rowHeadersArr.length);
            zhengqi.checked = false;
            gongzhong.checked = false;

            is_qf.checked = false;
            is_hy.checked = false;
            is_5g.checked = false;
            is_5gb.checked = false;
            is_5gtc.checked = false;
            is_qzxsp.checked = false;
            is_qzsl.checked = false;
            is_sfllb.checked = false;
            is_qzxq.checked = false;

            form.render('checkbox');
            day.checked = true;
            month.checked = false;
            form.render('radio');
            document.getElementById('startDate').value = '';
            document.getElementById('endDate').value = '';
            table.render({
                elem: '#report-table',
                data: [],
            });
        });


        /**
         * 保存模板
         */
        form.on('submit(template-save)', function (data) {
            var templateName = document.getElementById("templateName").value.trim();
            if(!templateName){
                layer.alert("请填写模板名称！");
                return;
            }
            var custZQ = zhengqi.checked ? '1' : '0';
            var custGZ = gongzhong.checked ? '1' : '0';
            var isQf = is_qf.checked ? '1' : '0';
            var isHy = is_hy.checked ? '1' : '0';
            var is5G = is_5g.checked ? '1' : '0';
            var is5Gb = is_5gb.checked ? '1' : '0';
            var is5Gtc = is_5gtc.checked ? '1' : '0';
            var isQzxsp = is_qzxsp.checked ? '1' : '0';
            var isQzsl = is_qzsl.checked ? '1' : '0';
            var isSfllb = is_sfllb.checked ? '1' : '0';
            var isQzxq = is_qzxq.checked ? '1' : '0';

            var dateType;
            if(day.checked){
                dateType = 'day';
            } else if(month.checked){
                dateType = 'month';
            }

            var startDate = document.getElementById("startDate").value;
            var endDate = document.getElementById("endDate").value;

            var newHeadersArr = new Array();

            var firstLevel = "";
            if(rowHeadersArr.length > 0){
                for(var i=0;i<rowHeadersArr.length;i++){
                    var rowHead = rowHeadersArr[i];
                    var col = new Object();
                    col.id = rowHead.id
                    if(i == 0){
                        firstLevel = rowHead.level;
                    } else {
                        if(firstLevel != rowHead.level){
                            layer.alert("请选择同一层级维度！");
                            return;
                        }
                    }
                    if(rowHead.level == "1"){
                        col.title = "地州";
                        col.field = "hxLatnName";
                    } else if(rowHead.level == "2"){
                        col.title = "分局";
                        col.field = "hxAreaName";
                    } else if(rowHead.level == "3"){
                        col.title = "支局";
                        col.field = "hxRegionName";
                    } else if(rowHead.level == "4"){
                        col.title = "网格";
                        col.field = "xHx5BpName";
                    }
                    // const isIncluded = newHeadersArr.some(item =>
                    //     JSON.stringify(item) === JSON.stringify(col)
                    // );
                    var isExist = false;
                    for(var j=0; j<newHeadersArr.length;j++){
                        var newHead = newHeadersArr[j];
                        if(col.field == newHead.field){
                            isExist = true;
                            break;
                        }
                    }
                    if(!isExist){
                        newHeadersArr.push(col);
                    }
                }
            }

            for(var i=0;i<colHeadersArr.length;i++){
                var colHeadItem = colHeadersArr[i];
                var data = new Object();
                data.id = colHeadItem.id;
                data.title = colHeadItem.title;
                data.field = colHeadItem.id;
                newHeadersArr.push(data);
            }

            var param = new Object();
            param.col = JSON.stringify(newHeadersArr);
            console.log("col:::"+param.col);
            param.templateName = templateName;
            param.custZQ = custZQ;
            param.custGZ = custGZ;
            param.isQf = isQf;
            param.isHy = isHy;
            param.isFiveg = is5G;
            param.isFivegb = is5Gb;
            param.isFivegtc = is5Gtc;
            param.isQzxsp = isQzxsp;
            param.isQzsl = isQzsl;
            param.isSfllb = isSfllb;
            param.isQzxq = isQzxq;
            param.dateType = dateType;
            param.startDate = startDate;
            param.endDate = endDate;
            param.quota = colHeadersArr;
            param.dimension = JSON.stringify(rowHeadersArr);

            let loading = layer.load();
            $.ajax({
                url: MODULE_PATH + 'saveTemplate',
                data: JSON.stringify(param),
                dataType: 'json',
                contentType: 'application/json',
                type: 'post',
                success: function (result) {
                    layer.close(loading);
                    if (result.retCode == '0') {
                        layer.alert("保存模板成功！");
                        templateId = result.templateId;
                        return;
                    } else {
                        layer.alert(result.retMsg);
                        return;
                    }
                }
            })
        });

        /**
         * 导出报表
         */
        form.on('submit(report-export)', function (data) {
            if(!templateId){
                layer.alert("请先保存报表！");
                return;
            } else {
                downloadFile();
            }
        });

        function downloadFile() {
            const link = document.createElement('a');
            link.href = MODULE_PATH + "downloadReport?templateId=" + templateId;
            // link.download = 'ppt_convert_config.txt';
            link.style.display = 'none';
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
        }


        /**
         * 获取维度树数据
         */
        function getDimensionData() {
            var data = [];
            $.ajax({
                url: MODULE_PATH +  "dimensionTreeload",
                type: "post",
                async:false,
                success: function(resut){
                    data = JSON.parse(resut);
                }
            });
            return data;
        }

        // form.on('submit(report-export)', function (data) {
        //     var reportName = document.getElementById("reportName").value.trim();
        //     if(!reportName){
        //         layer.alert("请填写报表名称！");
        //         return;
        //     }
        //     var isQf = is_qf.checked ? '1' : '0';
        //     var isHy = is_hy.checked ? '1' : '0';
        //     var is5G = is_5g.checked ? '1' : '0';
        //     var is5Gb = is_5gb.checked ? '1' : '0';
        //     var is5Gtc = is_5gtc.checked ? '1' : '0';
        //     var isQzxsp = is_qzxsp.checked ? '1' : '0';
        //     var isQzsl = is_qzsl.checked ? '1' : '0';
        //     var isSfllb = is_sfllb.checked ? '1' : '0';
        //     var isQzxq = is_qzxq.checked ? '1' : '0';
        //
        //     var newHeadersArr = new Array();
        //
        //     if(rowHeadersArr.length > 0){
        //         for(var i=0;i<rowHeadersArr.length;i++){
        //             var rowHead = rowHeadersArr[i];
        //             var col = new Object();
        //             col.id = rowHead.colField;
        //             col.title = rowHead.col;
        //             col.field = rowHead.colField;
        //             const isIncluded = newHeadersArr.some(item =>
        //                 JSON.stringify(item) === JSON.stringify(col)
        //             );
        //             if(!isIncluded){
        //                 newHeadersArr.push(col);
        //             }
        //         }
        //     }
        //
        //     for(var i=0;i<colHeadersArr.length;i++){
        //         newHeadersArr.push(colHeadersArr[i]);
        //     }
        //
        //     var param = new Object();
        //     param.reportName = reportName;
        //     param.isQf = isQf;
        //     param.isHy = isHy;
        //     param.isFiveg = is5G;
        //     param.isFivegb = is5Gb;
        //     param.isFivegtc = is5Gtc;
        //     param.isQzxsp = isQzxsp;
        //     param.isQzsl = isQzsl;
        //     param.isSfllb = isSfllb;
        //     param.isQzxq = isQzxq;
        //     param.quota = JSON.stringify(newHeadersArr);
        //     param.dimension = JSON.stringify(rowHeadersArr);
        //
        //     $.ajax({
        //         url: MODULE_PATH + 'exportReport',
        //         data: JSON.stringify(param),
        //         dataType: 'json',
        //         contentType: 'application/json',
        //         type: 'post',
        //         success: function (result) {
        //             if (result == '0') {
        //                 layer.alert("导出报表成功！");
        //                 return;
        //             } else {
        //                 layer.alert("shibai");
        //                 return;
        //             }
        //         }
        //     })
        // });
    });

</script>
</html>