<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('指标口径查询')"/>
</head>
<body class="pear-container">
<div class="layui-card">
    <div class="layui-card-body">
        <form action="" class="layui-form">
            <div class="layui-form-item">

                <label class="layui-form-label">指标名称:</label>
                <div class="layui-input-inline">
                    <input  class="layui-input"  name="indexName" id="indexName" placeholder="" type="text">
                </div>

                <label class="layui-form-label">指标字段:</label>
                <div class="layui-input-inline">
                    <input  class="layui-input"  name="indexField" id="indexField" placeholder="" type="text">
                </div>

                <label class="layui-form-label">所属分类:</label>
                <div class="layui-input-inline">
                    <input  class="layui-input"  name="classifyName" id="classifyName" placeholder="" type="text">
                </div>

                <label class="layui-form-label">所属宽表:</label>
                <div class="layui-input-inline">
                    <input  class="layui-input"  name="belongTable" id="belongTable" placeholder="" type="text">
                </div>

                <button class="pear-btn pear-btn-md pear-btn-primary" lay-filter="file-query" lay-submit>
                    <i class="layui-icon layui-icon-search"></i>
                    查询
                </button>
                <button class="pear-btn pear-btn-md" type="reset">
                    <i class="layui-icon layui-icon-refresh"></i>
                    重置
                </button>
            </div>
        </form>
    </div>
</div>

<div class="layui-card">
    <div id="card-body-div" class="layui-card-body" style="background-color: #FFFFFF;">
        <table id="file-table" lay-filter="file-table"></table>
    </div>
</div>

</body>

<script id="role-toolbar" type="text/html">
    <button sec:authorize="hasPermission('/autoData/indexStateInfo/buttonManage','autoData:indexStateInfo:buttonManage')" class="pear-btn pear-btn-primary pear-btn-md" lay-event="add">
        <i class="pear-icon pear-icon-add"></i>
        新增
    </button>

    <button class="pear-btn pear-btn-primary pear-btn-md" lay-event="dateExport">
        <i class="pear-icon pear-icon-direction-down"></i>
        导出
    </button>

    <button sec:authorize="hasPermission('/autoData/indexStateInfo/buttonManage','autoData:indexStateInfo:buttonManage')" class="pear-btn pear-btn-md" lay-event="batchRemove">
        <i class="layui-icon layui-icon-delete"></i>
        删除
    </button>


</script>

<script id="role-bar" type="text/html">
    <button sec:authorize="hasPermission('/autoData/indexStateInfo/buttonManage','autoData:indexStateInfo:buttonManage')" class="pear-btn pear-btn-primary pear-btn-sm" lay-event="edit"><i class="pear-icon pear-icon-edit"></i>
    </button>
    <button sec:authorize="hasPermission('/autoData/indexStateInfo/buttonManage','autoData:indexStateInfo:buttonManage')" class="pear-btn pear-btn-danger pear-btn-sm" lay-event="remove"><i class="pear-icon pear-icon-ashbin"></i>
    </button>

</script>

<script id="file-image" type="text/html">
    <a href="javascript:void(0);" class="pear-text">查看</a>
</script>


<script id="state-name" type="text/html">
    {{#if (d.state == 0) { }}
    <span>无效</span>
    {{# }else if(d.state == 1){ }}
    <span>有效</span>
    {{# } }}
</script>

<script id="create-time" type="text/html">
    {{layui.util.toDateString(d.createTime,  'yyyy-MM-dd HH:mm:ss')}}
</script>

<th:block th:include="include :: footer"/>
<script>
    layui.use(['table', 'form', 'jquery', 'popup', 'common','soulTable'], function () {
        let table = layui.table;
        let form = layui.form;
        let $ = layui.jquery;
        let popup = layui.popup;
        let common = layui.common;
        var soulTable = layui.soulTable;

        let MODULE_PATH = "/autoData/indexStateInfo/";

        //获取页面高度
        var pageHeight = $(document).height();
        $('#card-body-div').height(pageHeight-148);


        let cols = [
            [
                {type: 'checkbox'},
                {title: 'ID', field: 'infoId', align: 'center',hide: true},
                {title: '指标名称', field: 'indexName', align: 'center',width: 200},
                {title: '指标字段', field: 'indexField', align: 'center',width: 200},
                {title: '所属分类', field: 'classifyName', align: 'center',width: 120},
                {title: '所属宽表', field: 'belongTable', align: 'center',width: 180},
                {title: '业务口径说明', field: 'businessStatement', align: 'center',width: 180},
                {title: '业务口径负责人', field: 'businessCaliberLeader', align: 'center',width: 130},
                {title: '数据口径', field: 'dataCaliber', align: 'center',width: 200},
                {title: '涉及宽表', field: 'involvingTable', align: 'center',width: 180},
                {title: '数据口径负责人', field: 'dataCaliberLeader', align: 'center',width: 130},
                {title: '创建时间', field: 'createTime', align: 'center',templet: "#create-time",width: 160},
                {title: '操作', toolbar: '#role-bar', align: 'center', width: 150}
            ]
        ]

        table.render({
            elem: '#file-table',
            url: MODULE_PATH + 'getIndexStateList',
            page: true,
            cols: cols,
            skin: 'line',
            //height: 'full-148',
            toolbar: '#role-toolbar',
            defaultToolbar: [{
                title: '刷新',
                layEvent: 'refresh',
                icon: 'layui-icon-refresh',
            }, 'filter', 'print', 'exports']
            ,done: function() {
                // 表格渲染完成后初始化拖拽功能
                //soulTable.render(this);
            }
        });

        table.on('tool(file-table)', function (obj) {
            if (obj.event === 'remove') {
                window.remove(obj);
            } else if (obj.event === 'file-image') {
                window.show(obj);
            } else if (obj.event === 'edit') {
                window.edit(obj);
            } else if (obj.event === 'add') {
                window.add();
            } else if(obj.event =='editModel'){
                window.editModel();
            } else if(obj.event =='dateExport'){
                window.dateExport();
            }
        });

        table.on('toolbar(file-table)', function (obj) {

            if (obj.event === 'add') {
                window.add();
            } else if (obj.event === 'refresh') {
                window.refresh();
            } else if (obj.event === 'batchRemove') {
                window.batchRemove(obj);
            } else if (obj.event === 'edit') {
                window.edit(obj);
            } else if(obj.event =='editModel'){
                window.editModel();
            } else if(obj.event =='dateExport'){
                window.dateExport();
            }
        });

        form.on('submit(file-query)', function (data) {
            table.reload('file-table', {where: data.field})
            return false;
        });

        window.add = function () {
            layer.open({
                type: 2,
                title: '新增',
                shade: 0.1,
                area: ['575px', '650px'],
                content: MODULE_PATH + 'toAddIndexState'
            });
        }

        window.remove = function (obj) {
            layer.confirm('确定要删除该记录', {icon: 3, title: '提示'}, function (index) {
                layer.close(index);
                let loading = layer.load();
                $.ajax({
                    url: MODULE_PATH + "remove/" + obj.data['infoId'],
                    dataType: 'json',
                    type: 'delete',
                    success: function (result) {
                        layer.close(loading);
                        if (result.retCode =='0') {
                            popup.success(result.retMsg, function () {
                                //obj.del();
                                table.reload('file-table');
                            });
                        } else {
                            popup.failure(result.retMsg);
                        }
                    }
                })
            });
        }

        window.batchRemove = function (obj) {
            let infoIds = common.checkField(obj, 'infoId');
            if (common.isEmpty(infoIds)) {
                popup.warning("未选中数据");
                return false;
            }
            layer.confirm('确定要删除选中的记录', {icon: 3, title: '提示'}, function (index) {
                layer.close(index);
                let loading = layer.load();
                $.ajax({
                    url: MODULE_PATH + "batchRemove/" + infoIds,
                    dataType: 'json',
                    type: 'delete',
                    success: function (result) {
                        layer.close(loading);
                        if (result.retCode =='0') {
                            popup.success(result.retMsg, function () {
                                table.reload('file-table');
                            });
                        } else {
                            popup.failure(result.retMsg);
                        }
                    }
                })
            });
        }

        window.edit = function (obj) {
            layer.open({
                type: 2,
                title: '修改',
                shade: 0.1,
                area: ['575px', '650px'],
                content: MODULE_PATH + 'toEditIndexState?infoId=' + obj.data['infoId']
            });
        }



        window.refresh = function () {
            table.reload('file-table');
        }

        /**
         * 导出
         * @param obj
         */
        window.dateExport = function (obj) {
            var indexName = $("#indexName").val();
            var indexField = $("#indexField").val();
            var classifyName = $("#classifyName").val();
            var belongTable = $("#belongTable").val();

            var param = new Object();
            param.indexName = indexName;
            param.indexField = indexField;
            param.classifyName = classifyName;
            param.belongTable = belongTable;

            let loading = layer.load();
            $.ajax({
                url: MODULE_PATH + 'fileDownload',
                data: JSON.stringify(param),
                dataType: 'json',
                contentType: 'application/json',
                type: 'post',

                success: function (result) {
                    layer.close(loading);
                    if (result.retCode == '0') {
                        var filePath = result.filePath;
                        var fileName = result.fileName;

                        var link = document.createElement('a');
                        link.href = filePath;
                        link.download = fileName; // 设置下载的文件名
                        link.click();
                        // 释放URL对象
                        window.URL.revokeObjectURL(link.href);

                        return;
                    } else {
                        layer.alert("导出报表失败！");
                        return;
                    }
                }
            })
        }
    })
</script>
</html>