<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('类别新增')"/>
</head>
<body>

<!--加载动画-->
<div class="loading" style="display: none" id="loadDiv">
    <span class="top"></span>
    <span class="bottom"></span>
</div>

<form class="layui-form">
    <div class="mainBox">
        <div class="main-container">
            <div class="main-container">

                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color:red;">*</span>类别编码</label>
                    <div class="layui-input-block">
                        <input autocomplete="off" class="layui-input" lay-verify="required" name="classCode" id="classCode" placeholder=""
                               type="text" >
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color:red;">*</span>类别名称</label>
                    <div class="layui-input-block">
                        <input autocomplete="off" class="layui-input" lay-verify="required" name="className" id="className" placeholder=""
                               type="text">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label" style="white-space: nowrap;"><span style="color:red;">*</span>排序序号</label>
                    <div class="layui-input-block">
                        <input autocomplete="off" class="layui-input" lay-verify="required" name="sortId" id="sortId" placeholder=""
                               type="number">
                    </div>
                </div>

                <div class="layui-form-item" style="margin-top:50px; display: flex; justify-content: center; align-items: center;">

                    <!--<button id="btnSubmit" class="pear-btn pear-btn-primary pear-btn-sm" lay-filter="user-save" lay-submit="" type="submit">
                        &lt;!&ndash;<i class="layui-icon layui-icon-ok"></i>&ndash;&gt;
                        <i class="layui-icon layui-icon-refresh"></i>
                        提交
                    </button>-->

                    <button id="btnSubmit" class="pear-btn pear-btn-sm" lay-filter="user-save" lay-submit="" type="submit">
                        <!--<i class="layui-icon layui-icon-ok"></i>-->
                        <i class="layui-icon layui-icon-ok"></i>
                        提交
                    </button>

                    &nbsp;&nbsp;
                    <button id="btnReset" class="pear-btn pear-btn-sm" type="reset">
                        <i class="layui-icon layui-icon-refresh"></i>
                        重置
                    </button>
                </div>

            </div>
        </div>
    </div>
    <!--<div class="bottom">
        <div class="button-container" >
            <button class="pear-btn pear-btn-primary pear-btn-sm" lay-filter="user-save" lay-submit="" type="submit">
                <i class="layui-icon layui-icon-ok"></i>
                提交
            </button>
            <button class="pear-btn pear-btn-sm" type="reset">
                <i class="layui-icon layui-icon-refresh"></i>
                重置
            </button>
        </div>
    </div>-->
</form>
<th:block th:include="include :: footer"/>
<script>

    layui.use(['form', 'jquery', 'dtree'], function () {

        let form = layui.form;
        let $ = layui.jquery;
        let dtree = layui.dtree;
        var layer = layui.layer;

        //保存提交事件
        form.on('submit(user-save)', function (data) {

            var param = JSON.stringify(data.field);

            //data.field.modelId = data.field.select;
            console.log("param: "+param);

            $("#loadDiv").show();
            $("#btnSubmit").prop("disabled", true);
            $("#btnReset").prop("disabled", true);

            $.ajax({
                url: '/knowBase/classManage/saveClassInfo',
                data: param,
                dataType: 'json',
                contentType: 'application/json',
                type: 'post',
                success: function (result) {

                    $("#loadDiv").hide();
                    $("#btnSubmit").prop("disabled", false);
                    $("#btnReset").prop("disabled", false);
                    console.log("result: "+JSON.stringify(result));
                    if (result.retCode == "0") {
                        layer.msg(result.retMsg, {icon: 1, time: 2000}, function () {
                            parent.layer.close(parent.layer.getFrameIndex(window.name));//关闭当前页
                            parent.layui.table.reload("file-table");
                        });
                    } else {
                        layer.msg(result.retMsg, {icon: 2, time: 2000});
                    }
                }
            })
            return false;
        });


        document.getElementById('classCode').addEventListener('input', function(e) {
            var temp = e.target.value;
            var reg = /[^A-Za-z_0-9-]/g; // 正则表达式，匹配非英文字母字符
            if (reg.test(temp)) {
                // 如果输入包含非英文字母字符，则移除它们
                e.target.value = temp.replace(reg, '');
            }
        });

        document.getElementById('sortId').addEventListener('input', function(e) {
            var temp = e.target.value;
            var reg = /[^0-9]/g; // 正则表达式，匹配非英文字母字符
            if (reg.test(temp)) {
                // 如果输入包含非英文字母字符，则移除它们
                e.target.value = temp.replace(reg, '');
            }
        });

    })



</script>
<script>
</script>
</body>
</html>