<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('角色编辑')"/>
</head>
<body>

<!--加载动画-->
<div class="loading" style="display: none" id="loadDiv">
    <span class="top"></span>
    <span class="bottom"></span>
</div>

<form class="layui-form">
    <div class="mainBox">
        <div class="main-container">
            <div class="main-container">

                <input autocomplete="off" class="layui-input" lay-verify="required" name="roleId" id="roleId" placeholder=""
                       type="hidden" th:value="${imPushRoleManage.roleId}">

                <div class="layui-form-item">
                    <label class="layui-form-label">角色编码：</label>
                    <div class="layui-input-block" style="margin-left:130px;">
                        <input autocomplete="off" class="layui-input" lay-verify="required" name="roleCode" id="roleCode" placeholder=""
                               type="text" th:value="${imPushRoleManage.roleCode}">
                    </div>

                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">角色名称：</label>
                    <div class="layui-input-block" style="margin-left:130px;">
                        <input autocomplete="off" class="layui-input" lay-verify="required" name="roleName" id="roleName" placeholder=""
                               type="text" th:value="${imPushRoleManage.roleName}">
                    </div>

                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label" ><span style="color:red;">*</span>角色等级：</label>
                    <div class="layui-input-block" style="margin-left:130px;">
                        <select id="roleLevel" name="roleLevel">
                            <option value="fgs" th:selected="${imPushRoleManage.roleLevel == 'fgs'}">分公司</option>
                            <option value="xf" th:selected="${imPushRoleManage.roleLevel == 'xf'}">县分</option>
                            <option value="zj" th:selected="${imPushRoleManage.roleLevel == 'zj'}">支局</option>
                            <option value="wg" th:selected="${imPushRoleManage.roleLevel == 'wg'}">网格</option>
                        </select>

                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label" style="white-space: nowrap;width: 100px;">下级文件生成：</label>
                    <div class="layui-input-block">
                        <input name="nextLevelFile" id="nextLevelFile" title="是" type="radio" value="1"  lay-filter="modelType" th:checked="${imPushRoleManage.nextLevelFile eq '1'}">
                        <input name="nextLevelFile" id="nextLevelFile" title="否" type="radio" value="0"  lay-filter="modelType" th:checked="${imPushRoleManage.nextLevelFile eq '0'}">
                    </div>
                </div>

                <div class="layui-form-item" style="margin-top:50px; display: flex; justify-content: center; align-items: center;">

                    <!--<button id="btnSubmit" class="pear-btn pear-btn-primary pear-btn-sm" lay-filter="user-save" lay-submit="" type="submit">
                        &lt;!&ndash;<i class="layui-icon layui-icon-ok"></i>&ndash;&gt;
                        <i class="layui-icon layui-icon-refresh"></i>
                        提交
                    </button>-->

                    <button id="btnSubmit" class="pear-btn pear-btn-sm" lay-filter="user-save" lay-submit="" type="submit">
                        <!--<i class="layui-icon layui-icon-ok"></i>-->
                        <i class="layui-icon layui-icon-ok"></i>
                        提交
                    </button>

                    &nbsp;&nbsp;
                    <button id="btnReset" class="pear-btn pear-btn-sm" type="reset">
                        <i class="layui-icon layui-icon-refresh"></i>
                        重置
                    </button>
                </div>

            </div>
        </div>
    </div>
    <!--<div class="bottom">
        <div class="button-container" >
            <button class="pear-btn pear-btn-primary pear-btn-sm" lay-filter="user-save" lay-submit="" type="submit">
                <i class="layui-icon layui-icon-ok"></i>
                提交
            </button>
            <button class="pear-btn pear-btn-sm" type="reset">
                <i class="layui-icon layui-icon-refresh"></i>
                重置
            </button>
        </div>
    </div>-->
</form>
<th:block th:include="include :: footer"/>
<script th:src="@{/pagejs/im/pushRoleManage/roleEdit.js}" type="text/javascript"></script>

<script>
</script>
</body>
</html>